html {
  background: var(--bgColor-muted);
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: var(--bgColor-muted);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--borderColor-muted);
}
.peek-body {
  margin: 0;
  padding: 0;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
  padding: var(--base-size-24);
  min-height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: var(--base-size-16) var(--base-size-16) var(--base-size-24) var(--base-size-16);
  }
}
@keyframes pulse {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.peek-loader {
  position: absolute;
  display: flex;
  width: var(--base-size-40);
  top: 50%;
  left: 50%;
  justify-content: space-between;
  translate: -50% -50%;
}
.peek-loader::before,
.peek-loader::after {
  content: '';
  width: var(--base-size-8);
  height: var(--base-size-8);
  border-radius: 50%;
  background-color: var(--fgColor-accent);
  animation: 0.5s linear infinite alternate pulse;
}
.peek-loader::after {
  animation-direction: alternate-reverse;
}
.peek-mermaid-container {
  margin-top: 0;
  margin-bottom: var(--base-size-16);
  padding: var(--base-size-16);
  border-radius: 6px;
  overflow: auto;
  line-height: 1.45;
  font-size: 85%;
  font-family: var(--fontStack-monospace);
  word-wrap: normal;
  background-color: var(--bgColor-muted);
}
.peek-mermaid-container:has(svg) {
  height: auto !important;
}
div[data-graph='mermaid']:has(> .peek-loader) {
  position: relative;
  height: 100%;
  min-height: 50px;
}
#peek-zoom-label {
  position: fixed;
  top: var(--base-size-24);
  right: var(--base-size-24);
  padding: var(--base-size-8);
  opacity: 0;
  border-radius: 8px;
  background-color: var(--bgColor-neutral-muted);
  color: var(--fgColor-default);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
  font-size: 14px;
  font-weight: var(--base-text-weight-medium);
  z-index: 9999;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--color-prettylights-syntax-keyword);
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--color-prettylights-syntax-constant);
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--color-prettylights-syntax-constant);
}
.hljs-meta .hljs-string,
.hljs-string {
  color: var(--color-prettylights-syntax-string);
}
.hljs-regexp {
  color: var(--color-prettylights-syntax-string-regexp);
}
.hljs-symbol {
  color: var(--color-prettylights-syntax-constant);
}
.hljs-built_in {
  color: var(--color-prettylights-syntax-entity);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--color-prettylights-syntax-comment);
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--color-prettylights-syntax-entity-tag);
}
.hljs-subst {
  color: var(--color-prettylights-syntax-markup-changed-text);
}
.hljs-section {
  color: var(--color-prettylights-syntax-markup-bold);
  font-weight: var(--base-text-weight-semibold);
}
.hljs-bullet {
  color: var(--color-prettylights-syntax-markup-list);
}
.hljs-emphasis {
  color: var(--color-prettylights-syntax-markup-italic);
  font-style: italic;
}
.hljs-strong {
  color: var(--color-prettylights-syntax-markup-bold);
  font-weight: var(--base-text-weight-semibold);
}
.hljs-addition {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}
.hljs-deletion {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}
